/* Laptops */
@media screen and (max-width: 1660px) {
    .hero {
        margin-top: 12%;
    }
    .hero h1 {
        font-size: 70px;
    }
    .hero p {
        font-size: 22px;
    }
    .hero .image img,
    .hero .imageBlured img {
        height: 570px;
    }
    
    #about .text {
        width: 50%;
    }
    #about .image-container img {
        height: 420px;
        width: 320px;
    }
}

/* Phones */
@media screen and (max-width: 768px) {
    section {
        padding: 50px 20px;
    }
    .section-heading h2 {
        font-size: 22px;
    }
    .btn {
        font-size: 14px !important;
    }
    .section-heading h2::before {
        left: -60px;
    }
    .section-heading h2::after {
        right: -60px;
    }
    .section-heading h2::before,
    .section-heading h2::after {
    width: 42px; 
}

    /* Header */
    header {
        padding: 0 20px;
        height: 60px;
        background: #181818;
    }
    header .logo img {
        height: 54px;
        width: 54px;
    }
    header.sticky {
        height: 60px;
    }
    header .logo {
        font-size: 22px;
    }
    header label {
        display: block;
    }
    header .icons {
        display: none;
    }
    header nav {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px;
        z-index: 900 !important;
        gap: 30px;
        width: 40%;
        height: 100vh;
        transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0);
        background: #1b1b1b;
        transform: translateX(-100%);
        color: var(--black);
        padding-bottom: 60px;
    }
    header nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;
        gap: 6px;
    }
    header nav.active {
        transform: translateY(0);
    }
    header nav a i {
        display: block !important;
    }

    #home {
        min-height: 120vh;
    }

    /* Hero */
    .hero {
        flex-direction: column;
        margin-top: 14%;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 140px;
    }
    .hero .content .image img {
        height: 200px;
    }
    .hero .content h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .hero .content h1 {
        font-size: 50px;
    }
    .hero .content p {
        font-size: 18px;
        width: 100%;
        text-align: justify;
        display: none;
    }
    .hero .content .buttons {
        justify-content: center;
    }
    .hero .content .buttons a {
        font-size: 15px;
    }
    .hero .showcase {
        right: 22%;
        bottom: 0;
    }
    .hero .showcase .image {
        height: 220px;
    }
    .hero .showcase .image:nth-child(1) {
        transform: translate(600px, 30px);
    }
    .hero .circle {
        right: 0;
        bottom: -14%;
        width: 400px;
        height: 400px;
        opacity: 14%;
    }
    

    /* About */
    #about .about-container {
        flex-direction: column-reverse;
        gap: 36px;
    }
    #about .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #about .image img {
        height: 460px;
        width: 100%;
    }
    #about .content h3 {
        font-size: 20px;
    }
    #about .content p {
        font-size: 15px;
        text-align: justify;
    }

    /* Skills */
    #skills .skill {
        width: 100%;
    }
    #skills .skill .skill-bar {
        width: 100%;
    }
    #skills .skill-info h3 {
        font-size: 17px;
    }
    #skills .skill-info p {
        font-size: 15px;
    }

    /* Projects */
    #projects .projects-container {
        padding-bottom: 24px;
        gap: 60px;
    }
    #projects .project {
        width: 300px;
        height: max-content;
    }
    #projects .project .image {
        height: 260px;
    }
    #projects .project-title {
        font-size: 20px;
    }
    #projects .project-tech {
        font-size: 14px;
    }
    #projects .project .links a {
        font-size: 18px;
    }
    #projects .projects-container.designs .project {
        width: max-content;
        height: 100% !important;
    }

    /* Contact */
    #contact .form {
        width: 100%;
    }
    #contact .form .input-wrapper {
        width: 100%;
    }
    #contact .form .input-wrapper i {
        font-size: 17px;
    }
    #contact .form .input-wrapper input,
    #contact .form .input-wrapper textarea {
        font-size: 15px;
    }
    #contact .form input[type="submit"] {
        font-size: 15px;
        width: 100%;
    }

    /* Footer */
    footer {
        padding: 50px 20px;
    }
    footer .links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    footer .copyright {
        text-align: center;
    }
}