/* Laptops */
@media screen and (max-width: 1660px) {
    .hero {
        margin-top: 12%;
    }
    .hero h1 {
        font-size: 70px;
    }
    .hero p {
        font-size: 22px;
    }
    .hero .image img,
    .hero .imageBlured img {
        height: 570px;
    }
    
    #about .text {
        width: 50%;
    }
    #about .image-container img {
        height: 420px;
        width: 320px;
    }
}

/* Phones */
@media screen and (max-width: 768px) {
    section {
        padding: 50px 20px;
    }
    .section-heading h2 {
        font-size: 22px;
    }
    .btn {
        font-size: 14px !important;
    }
    .section-heading h2::before {
        left: -90px;
    }
    .section-heading h2::after {
        right: -90px;
    }

    /* Header */
    header {
        padding: 0 20px;
        height: 60px;
        background: #181818;
    }
    header.sticky {
        height: 60px;
    }
    header .logo {
        font-size: 22px;
    }
    header label {
        display: block;
    }
    header .icons {
        display: none;
    }
    header nav {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px;
        z-index: 900 !important;
        gap: 30px;
        width: 40%;
        height: 100vh;
        transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0);
        background: #1b1b1b;
        transform: translateX(-100%);
        color: var(--black);
        padding-bottom: 60px;
    }
    header nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;
        gap: 6px;
    }
    header nav.active {
        transform: translateY(0);
    }
    header nav a i {
        display: block !important;
    }

    #home {
        min-height: 70vh;
    }

    /* Hero */
    .hero {
        margin-top: 20%;
        text-align: center;
    }
    .hero h2 {
        font-size: 17px;
        margin-bottom: 2px;
    }
    .hero h1 {
        font-size: 46px;
    }
    .hero p {
        font-size: 18px;
        width: 100%;
        text-align: justify;
    }
    .hero .buttons {
        justify-content: center;
    }
    .hero .buttons a {
        font-size: 15px;
    }
    .hero .image,
    .hero .imageBlured {
        display: none;
    }

    /* About */
    #about .about-container {
        flex-direction: column;
        gap: 36px;
    }
    #about .text {
        width: 100%;
    }
    #about .images img {
        width: 100%;
        height: 420px;
    }
    #about .text h2 {
        font-size: 30px;
    }
    #about .text p {
        text-align: justify;
        font-size: 16px;
    }
    #about .button {
        font-size: 15px;
    }

    /* Skills */
    #skills .skill {
        width: 100%;
    }
    #skills .skill .skill-bar {
        width: 100%;
    }
    #skills .skill-info h3 {
        font-size: 18px;
    }
    #skills .skill-info p {
        font-size: 14px;
    }

    /* Projects */
    .projects-container {
        padding-bottom: 24px;
        gap: 60px;
    }
    .project {
        width: 300px;
        height: max-content;
    }
    .project .image {
        height: 260px;
    }
    .project-title {
        font-size: 20px;
    }
    .project-tech {
        font-size: 14px;
    }
    .project .links a {
        font-size: 17px;
    }
    .projects-container.designs .project {
        width: max-content;
        height: 360px !important;
    }

    /* Contact */
    .form .input-wrapper {
        width: 100%;
    }
    .form .input-wrapper i {
        font-size: 17px;
    }
    .form .input-wrapper input,
    .form .input-wrapper textarea {
        font-size: 16px;
    }
    .form input[type="submit"] {
        font-size: 16px;
        height: 48px;
    }

    /* Footer */
    footer .links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    footer .copyright {
        text-align: center;
    }
}