@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400;500;600;700;800&display=swap'); /* Roboto Condensed font */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap'); /* Teko font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap'); /* Montserrat font */

/* Main settings */
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    background: var(--darkblue);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 9%;
}
::-webkit-scrollbar {
    background: var(--button);
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: var(--orange);
}


/* Color variables */
:root {
    --white: #fff;
    --orange: #FFA230;
    --darkblue: #1B1F24;
    --grey: #818181;
    --blue: #242B33;
    --stickynav: #21262c;
    --mobilenav: #313b46;
    --button: #4f5c6d;
    --buttonhover: #313b46;
    --overlaybtn: #242b33cb;
}
button, input {
    background: none;
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}



/* Theme colors */
.themes {
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 15px;
    z-index: 70;
}
.themes .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}
.themes .color.blue {
    background: linear-gradient(220deg, rgba(68,81,96,1) 10%, rgb(140, 163, 192) 100%);
}
.themes .color.white {
    background: linear-gradient(220deg, rgba(255,255,255,1) 10%, rgb(175, 175, 175) 100%);
}
.themes .color.black {
    background: linear-gradient(220deg, rgba(50,50,50,1) 10%, rgba(103,103,103,1) 100%);
}

/* Heading */
.heading h1 {
    text-align: center;
    font-family: 'Teko', sans-serif;
    color: var(--white);
    letter-spacing: 2px;
    font-size: 4.5em;
    font-weight: 200;
}
.heading h1 span {
    color: var(--orange);
}
.heading p {
    color: var(--grey);
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.heading hr,
footer hr {
    width: 6%;
    margin: 15px auto;
    border: 1px solid var(--orange);
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes line {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}




/* Navbar */
nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 10%;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--darkblue);
    z-index: 80;
    transition: all .22s ease-in-out;
}
nav.sticky {
    height: 90px;
    background: var(--stickynav);
    /* box-shadow: 0px 0px 10px 5px #4f5c6d3f; */
}
@keyframes logo {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
.logo i {
    color: var(--orange);
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.logo h1 {
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
}
nav .links {
    margin-right: 130px;
}
nav .links a {
    margin: 0 12px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.3em;
    transition: all .2s ease-in-out;
    font-weight: 400;
}
nav .links a:hover,
nav .links a.active {
    color: var(--orange);
}
nav .icons a:hover i {
    color: var(--orange);
}
nav .icons i {
    color: var(--white);
    margin: 0 8px;
    font-size: 1.4em;
    transition: all .2s ease-in-out;
}


/* Hamburger */
.hamburger {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamburger .bar, .hamburger:before, .hamburger:after {
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    margin: 6px 0;
    display: block;
    transition: all .4s;
}
.hamburger.active .bar {
    opacity: 0;
}
.hamburger.active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}
/* Mobile navbar */
.mobilenav {
    display: none;
    position: fixed;
    top: 89px;
    left: 0;
    width: 60%;
    background: var(--darkblue);
    height: 100vh;
    flex-direction: column;
    padding: 10% 6%;
    transition: 0.5s;
    z-index: 90;
}
.mobilenav .mobile-icons {
    margin: 20px 0;
}
.mobilenav .mobile-icons a {
    margin-right: 15px;
}
.mobilenav a {
    margin: 5px 0;
    color: var(--white);
    text-decoration: none;
    font-size: 1.3em;
    transition: all .2s ease-in-out;
    font-weight: 400;
}
.mobilenav a:hover,
.mobilenav a.active {
    color: var(--orange);
}
.mobilenav.active {
    display: flex;
}



/* Home page content */
.content {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-gap: 1rem;
    padding: 12% 10% 10.06% 10%;
}
/* Home page content intro */
.content .intro h2 {
    color: var(--white);
    font-size: 4.4em;
    font-weight: 500;
    font-family: 'Teko', sans-serif;
    line-height: 100%;
    letter-spacing: 2px;
}
.content .intro .mobile-img {
    display: none;
    background: url(img/me.jpg);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--orange);
    margin: 0 auto 25px auto;
}
.content .intro h2 span {
    color: var(--orange);
}
.content .intro p {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    width: 45%;
    text-align: justify;
    margin: 1.5% 0;
    font-size: 1.1em;
}
.content .intro .buttons {
    margin-top: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}
.content .intro .buttons .btn {
    background: var(--blue);
    width: 260px;
    height: 64px;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.content .intro .buttons .btn i {
    font-size: 1.4em;
    color: var(--button);
}
.content .intro .buttons .btn {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1em;
    transition: all .4s ease-in-out;
}
.content .intro .buttons .btn:hover {
    background: var(--buttonhover);
}
/* Home page content image */
.content .image {
    position: absolute;
    top: 18%;
    right: 10%;
}


/* About me section */
#about {
    background: var(--blue);
    padding: 3% 10%;
    font-family: 'Montserrat', sans-serif;
}
#about .about-content {
    margin-top: 6%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}
#about .about-content .image img {
    height: 900px;
}
.about h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--white);
    font-size: 2.9em;
}
.about p {
    margin: 24px 0;
    color: var(--grey);
    line-height: 150%;
    text-align: justify;
}
.about p.hobby {
    font-weight: 600;
    color: var(--white);
}
.about ul {
    margin-left: 20px;
    list-style-type: square;
}
.about ul li {
    color: var(--grey);
    margin: 7px 0;
}
.about .download-cv-btn {
    margin-top: 25px;
    color: var(--white);
    background: var(--orange);
    padding: 15px 75px;
    font-weight: 600;
    border-radius: 2px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .2s ease;
}
.about .download-cv-btn:hover {
    transform: translateY(-4px);
}


/* Projects section */
#projects {
    background: var(--darkblue);
    padding: 3% 10%;
}
#projects .projects-content {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#projects .projects-content .box {
    margin: 2%;
    width: 600px;
    height: 500px;
    background: var(--blue);
    padding: 25px;
    border-radius: 7px;
}
#projects .projects-content .box .image {
    position: relative;
    width: 100%;
    height: 60%;
}
#projects .projects-content .box .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
#projects .projects-content .box .buttons {
    margin-top: 20px;
    display: flex;
    gap: 24px;
}
#projects .projects-content .box .buttons a {
    color: var(--white);
    margin: 3% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    background: var(--button);
    padding: 15px 25px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 15px;
}
#projects .projects-content .box .buttons a:hover {
    background: var(--buttonhover);
}
#projects .projects-content .box .info h2 {
    color: var(--orange);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 10px;
}
#projects .projects-content .box .info .technologies {
    display: flex;
}
#projects .projects-content .box .info .technologies p {
    margin: 0 15px 0 0;
    color: var(--grey);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
}



/* Contact section */
#contact {
    background: var(--blue);
    padding: 3% 10%;
}
#contact .contact-content {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contact .contact-content input,
#contact .contact-content textarea {
    background: var(--darkblue);
    border: none;
    outline: none;
    height: 64px;
    width: 500px;
    margin: 15px 0;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    transition: all 0.06s;
}
#contact .contact-content textarea {
    height: 300px;
    padding: 15px;
    resize: none;
}
#contact .contact-content input[type="submit"] {
    background: var(--orange);
    color: var(--white);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0;
    transition: all .2s ease-in-out;
}
#contact .contact-content input[type="text"]:focus,
#contact .contact-content input[type="email"]:focus,
#contact .contact-content textarea:focus {
    background: var(--mobilenav);
    color: var(--white);
}
input:focus::placeholder,
textarea:focus::placeholder {
    color: var(--white);
}
#contact .contact-content input[type="submit"]:hover {
    background: #e67e00;
}



/* Footer */
footer {
    background: var(--darkblue);
    padding: 2.5% 30%;
    text-align: center;
    gap: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
footer .logo {
    color: var(--white);
}
footer p {
    margin-top: 17px;
    color: var(--grey);
    font-size: 1.2em;
}


/* Website responsiveness */
@media screen and (max-width: 768px) {
    html {
        scroll-padding-top: 13%;
    }

    /* Navbar */
    nav {
        padding: 0 6%;
        height: 90px;
    } 
    nav.sticky {
        background: var(--darkblue);
    }
    nav .icons {
        display: none;
    }
    nav .hamburger {
        display: block;
    }
    .logo h1 {
        font-size: 1.8em;
    }
    nav .links {
        display: none;
    }


    /* Homepage */
    .content .intro .mobile-img {
        display: block;
    }
    .content .image {
        display: none;
    }
    .content {
        margin-top: 28%;
        display: block;
        text-align: center;
        padding: 6%;
    }
    .content .intro h2 {
        font-size: 2.6em;
    }
    .content .intro p {
        font-size: 0.9em;
        line-height: 160%;
        width: 100%;
    }
    .content .intro .buttons {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content .intro .buttons .btn {
        width: 80%;
        height: 52px;
        margin: 6px 0;
    }
    .content .intro .buttons .btn i {
        font-size: 1.3em;
    }


    /* Headings */
    .heading h1 {
        font-size: 3.5em;
    }
    .heading p {
        font-size: 0.9em;
        width: 100%;
    }
    .heading hr {
        width: 30%;
    }

    /* About */
    #about {
        padding: 12% 6%;
        text-align: center;
    }
    #about .about-content {
        margin-top: 10%;
        grid-template-columns: repeat(1, 2fr);
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    #about .about-content .image img {
        height: 420px;
        width: 100%;
    }
    .about h1 {
        font-size: 2.3em;
    }
    .about p {
        font-size: 1em;
    }
    .about p.hobby {
        text-align: center;
    }
    .about ul {
        margin-left: 0;
        list-style-type: none;
    }
    .about .download-cv-btn {
        font-size: 1.1em;
    }



    /* Projects */
    #projects {
        padding: 12% 6%;
    }
    #projects .projects-content {
        margin-top: 0%;
        text-align: center;
    }
    #projects .projects-content .box {
        margin: 10% 2%;
        width: 100%;
        height: 100%;
    }
    #projects .projects-content .box .buttons {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    #projects .projects-content .box .info .technologies {
        justify-content: center;
        margin-top: 7px;
    }
    #projects .box .buttons a {
        margin: 0;
        width: 100%;
        justify-content: center;
    }



    /* Contact */
    #contact {
        padding: 12% 6%;
    }
    #contact .contact-content {
        margin-top: 15%;
    }
    #contact .contact-content input,
    #contact .contact-content textarea {
        height: 56px;
        width: 100%;
        padding: 15px;
    }
    #contact .contact-content textarea {
        height: 300px;
    }


    /* Footer */
    footer {
        padding: 10% 6%;
    }



    /* Themes */
    .themes {
        bottom: 1%;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -1%);
        flex-direction: row;
        background: #0000005d;
        height: 50px;
    }
}