@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400;500;600;700;800&display=swap'); /* Roboto Condensed font */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap'); /* Teko font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap'); /* Montserrat font */
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    background: var(--darkblue);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 12%;
}
/* Color variables */
:root {
    --white: #fff;
    --orange: #FFA230;
    --darkblue: #1B1F24;
    --grey: #818181;
    --blue: #242B33;
}

.heading h1 {
    text-align: center;
    font-family: 'Teko', sans-serif;
    color: var(--white);
    letter-spacing: 2px;
    font-size: 4.5em;
    font-weight: 200;
}
.heading h1 span {
    color: var(--orange);
}
.heading p {
    color: var(--grey);
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.heading hr,
footer hr {
    width: 6%;
    margin: 15px auto;
    border: 1px solid var(--orange);
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes line {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

/* Navbar */
nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 10%;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--darkblue);
    z-index: 20;
}
@keyframes logo {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
nav .logo i {
    color: var(--orange);
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
nav .logo h1 {
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
}
nav .links a {
    margin: 0 12px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.3em;
    transition: all .2s ease-in-out;
    font-weight: 400;
}
nav .links a:hover,
nav .links a.active {
    color: var(--orange);
}


/* Content */
.content {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-gap: 1rem;
    padding: 17% 10% 10.06% 10%;
}
/* Content intro */
.content .intro h2 {
    color: var(--white);
    font-size: 4.4em;
    font-weight: 500;
    font-family: 'Teko', sans-serif;
    line-height: 100%;
    letter-spacing: 2px;
}
@keyframes letters {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
.content .intro h2 span {
    color: var(--orange);
    animation-name: letters;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.content .intro p {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    width: 45%;
    text-align: justify;
    margin: 1.5% 0;
    font-size: 1.1em;
}
.content .intro .buttons {
    margin-top: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}
.content .intro .buttons .btn {
    background: var(--blue);
    width: 260px;
    height: 64px;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.content .intro .buttons .btn i {
    color: var(--white);
    font-size: 1.4em;
    color: #4f5c6d;
}
.content .intro .buttons .btn {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1em;
    transition: all .4s ease-in-out;
}
.content .intro .buttons .btn:hover {
    background: #313b46
}

/* Content image */
.content .image {
    position: absolute;
    bottom: -0.5%;
    right: 5%;
    transform: rotateY(180deg);
}


/* About me section */
#about {
    background: var(--blue);
    padding: 3% 10%;
}

#about .about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
}
#about .info {
    margin-left: 10%;
}
#about .info h2 {
    color: var(--white);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
}
#about .info h2 span {
    color: var(--orange);
}

#about .info .p-data {
    background: var(--darkblue);
    padding: 2% 5%;
    position: relative;
    right: 0%;
}
#about .info .p-data .col {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}
#about .info .p-data .col h3 {
    color: var(--orange);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
#about .info .p-data .col p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--grey);
}
#about .info .p-data .col .text {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95em;
    text-align: justify;
    margin-top: 5px;
    font-weight: 300;
    font-weight: 500;
    padding-bottom: 5%;
}
#about .info .p-data .col a {
    padding: 12px 10%;
    background: var(--orange);
    color: var(--white);
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    transition: all .2s ease-in-out;
}
#about .info .p-data .col a:hover {
    transform: translateY(2px);
}


/* Projects section */
#projects {
    background: var(--darkblue);
    padding: 3% 10%;
}
#projects .projects-content {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#projects .projects-content .box {
    margin: 5% 2%;
    width: 700px;
    height: 500px;
}
#projects .projects-content .box .image {
    position: relative;
    width: 100%;
    height: 100%;
}
#projects .projects-content .box .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#projects .projects-content .box .image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
}
#projects .projects-content .box .image .overlay p {
    text-align: justify;
    padding-top: 12%;
    color: var(--white);
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}
#projects .projects-content .box .image .overlay:hover {
    opacity: 1;
}
#projects .projects-content .box .image .overlay .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects .projects-content .box .image .overlay a {
    text-decoration: none;
    color: var(--white);
    margin: 8% 4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    background: #242b33cb;
    padding: 15px 25px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
#projects .projects-content .box .image .overlay a:hover {
    background: var(--blue);
}
#projects .projects-content .box .image .overlay a i {
    margin-right: 15px;
}


#projects .projects-content .box .info h2 {
    color: var(--orange);
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 10px;
}
#projects .projects-content .box .info .technologies {
    display: flex;
}
#projects .projects-content .box .info .technologies p {
    margin: 0 15px 0 0;
    color: var(--grey);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
}



/* Contact section */
#contact {
    background: var(--blue);
    padding: 3% 10%;
}
#contact .contact-content {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contact .contact-content input,
#contact .contact-content textarea {
    background: var(--darkblue);
    border: none;
    outline: none;
    height: 64px;
    width: 500px;
    margin: 15px 0;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
}
#contact .contact-content textarea {
    height: 300px;
    padding: 15px;
    resize: none;
}
#contact .contact-content input[type="submit"] {
    background: var(--orange);
    color: var(--white);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0;
    transition: all .2s ease-in-out;
}
#contact .contact-content input[type="submit"]:hover {
    background: #ffb152;
}



/* Footer */
footer {
    background: var(--darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 10% 2% 10%;
}
footer h2 {
    color: var(--white);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.3em;
}
footer .icons {
    margin: 35px 0;
    display: flex;
}
footer .icons a {
    background: var(--orange);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 15px;
    transition: all .2s ease-in-out;
}
footer .icons a:hover {
    background: #ffb152;
}
footer .icons i {
    color: var(--white);
    font-size: 1.5em;
}
footer .links a {
    margin: 0 25px;
    color: var(--grey);
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    transition: all .2s ease-in-out;
}
footer .links a:hover {
    color: #666666;
}
footer hr {
    margin-top: 30px;
}
footer p {
    margin-top: 12px;
    color: var(--grey);
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
}